.terminal-command-component {
	.path-main {
		padding: 10px;
		.path-m-info {
			& > div {
				display: flex;
				margin: 2px 0;
				height: 50px;
				border-bottom: 1px solid #ddd;
				align-items: center;
				&:nth-child(2n) {
					background-color: #f6f6f6;
				}
				&:first-child {
					border-top: 1px solid #ddd;
				}
				div:nth-child(1) {
					width: 160px;
					display: inline-block;
					span {
						background-color: #f9e0e6;
						padding: 0 6px;
            border-radius: 4px;
					}
				}
				& > span {
					display: block;
					flex: 1;
					word-break: break-all;
				}
			}
		}
	}
}
